.linkHeader {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
}

.linkHeader svg,
.linkHeader span {
  transition: var(--common-transition);
}

.linkHeader:hover svg {
  transition: var(--common-transition);
  fill: white;
}

.linkHeader:hover span {
  color: var(--text-primary-color);
}

.default {
  color: var(--text-inactive-color);
}

.active {
  color: var(--text-primary-color);
}
