.constructor {
  box-sizing: border-box;
  width: 600px;
  height: 912px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  height: 464px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cost {
  display: flex;
  justify-content: right;
  align-items: center;
}

.cost svg {
  width: 36px;
  height: 36px;
}

.bun {
  width: 531px;
}
