body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.stellarContainer {
  margin-top: 180px;
  text-align: center;
}

.stellarLink {
  text-decoration: none;
  color: var(--colors-interface-accent);
}

.stellarInput {
  margin-bottom: 24px;
}

.stellarTextContainer {
  margin-top: 0;
}
